*, html, body {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Poppins', sans-serif;
    background-color: #2c2c2c;
}

.message-container {
    border-radius: 5px;
    max-width: 400px;
    border: 1px solid #ffb347;
    background-color: #FFF1DC;
    margin: 10px auto;
    padding: 5px;
}

.author-info {
    display: flex;
    align-items: center;
}

.author-info img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 20px;
}

.message-text {

}