:root {
    --font-root: 'Roboto', sans-serif;
    --background: hsl(0, 0%, 7%);
    --background-header: hsl(0, 0%, 13%);
    --background-message: hsl(210, 8%, 20%);
    --author-name-color: hsl(36, 100%, 93%);
    --message-text-color: hsla(0, 0%, 100%, 0.9);
}

*, html, body {
    padding: 0;
    margin: 0;
}

html {
    font-family: var(--font-root);
    font-size: 0.75rem;
    background-color: var(--background);
}

.message-container {
    display: flex;
    max-width: 20.75rem;
    margin: 1.25rem 1.5rem;
    padding: 0.75rem;

    background-color: var(--background-message);
    border-radius: 7px;
}

.author-info {
    color: var(--author-name-color);
    font-weight: 500;
}

.author-info img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.message-text {
    color: var(--message-text-color);
}

.author-avata {
    border-radius: 50%;
    width: 2.125rem;
    height: 2.125rem;
    margin: auto 0.75rem;
}

button {
    display: flex;
    justify-content: flex-end;
    background-color: var(--background-message);
    all: unset;
    margin-left: 0.25rem;
}
