:root {
    --font-root: 'Poppins', sans-serif;
    --background: hsl(0, 0%, 7%);
    --background-header: hsl(0, 0%, 13%);
    --background-message: hsl(210, 8%, 20%);
    --author-name-color: hsl(36, 100%, 93%);
    --message-text-color: hsla(0, 0%, 100%, 0.9);
}
*, html, body {
    padding: 0;
    margin: 0;
}

html {
    font-family: var(--base-font);
    background-color: var(--background);
}

.message-container {
    border-radius: 5px;
    max-width: 400px;
    background-color: var(--background-message);
    margin: 10px auto;
    padding: 5px;
}

.author-info {
    display: flex;
    align-items: center;
    color: var(--author-name-color);
}

.author-info img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 20px;
}

.message-text {
    color: var(--message-text-color);
}
