@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('../fonts/roboto-mono-v13-latin-300.woff2') format('woff2'),
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/roboto-mono-v13-latin-regular.woff2') format('woff2'),
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/roboto-mono-v13-latin-700.woff2') format('woff2'),
}

:root {
    --font-root: 'Roboto Mono', sans-serif;
    --background: hsl(0, 0%, 7%);
    --background-header: hsl(0, 0%, 13%);
    --background-message: hsl(210, 8%, 20%);
    --author-name-color: hsl(36, 100%, 93%);
    --message-text-color: hsla(0, 0%, 100%, 0.9);
}

*, html, body {
    padding: 0;
    margin: 0;
}

html {
    font-family: var(--font-root);
    font-size: 0.75rem;
    background-color: var(--background);
}

.message-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 20.75rem;
    margin: 1.25rem 1.5rem;
    padding: 0.75rem;

    background-color: var(--background-message);
    border-radius: 7px;
    animation: 0.25s ease-out 0s 1 slideDown;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.message-container:hover {
    transform: scale(1.05);
    transition: all 0.5s;
}

.author-info {
    color: var(--author-name-color);
    font-weight: 500;
}

.author-info img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.message-text {
    color: var(--message-text-color);
    word-break: break-word;
}

.author-avata {
    border-radius: 50%;
    width: 2.125rem;
    height: 2.125rem;
    margin: auto 0.75rem;
}

.button-archive {
    background-color: var(--background-message);
    all: unset;
    margin-left: auto;
    margin-right: 0.25rem;
    cursor: pointer;
}

.button-archive:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}
